
.brand-index {
    font-size: 12px;
    margin: 10px 0 15px;
    text-align: center;
}
.brand-index a {
    display: inline-block;
    padding: 2px 6px;
}
.brand-index a:hover {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    text-decoration: none;
}
.content{
	border-left: 1px solid #d9e2e2;
}