body .youyika {
	top: 89px;
	position: relative;
}
.nav-common{
min-height: 40px;
padding: 19px;
margin-bottom: 90px;
border: 1px solid #e3e3e3;
border-radius: 4px;
-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
}
.intro-item {
	height: 88px;
	padding-left: 104px;
}
.intro-item h2 {
margin-top: 16px;
}
.intro-item h2 a {
display: inline-block;
width: 103px;
height: 20px;
background-position: left center;
background-color: #fefefe;
background-repeat: no-repeat;
zoom: 1;
cursor: default;
}
.intro-item ul {
	margin-top: 18px;
}

.intro-item ul {
	font-size: 12px;
	color: #666;
}

.intro-item ul a {
	font-size: 12px;
	color: #666;
}

.intro-item li {
	float: left;
	display: inline;
}

.intro-item .atten {
	display: inline-block;
	width: 30px;
	height: 14px;
	padding-top: 1px;
	background: url("images/atten.png") no-repeat;
	color: #fff;
	padding-left: 16px;
	zoom: 1;
}
.intro .wallet {
background: url("../images/index/wallet.png") left center no-repeat ;
}
.intro .wallet h2 a {
background-image: url("../images/index/exper.png");
}
.intro .life {
background: url("../images/index/life.png") left center no-repeat;
}
.intro .life h2 a {
background-image: url("../images/index/assi.png");
}

.breadcrumbrow{
 background-color: #f5f5f5;
height: 40px;
margin-bottom: 15px;
}