@CHARSET "UTF-8";
body{
	padding-top: 0px;
	font: 12px/23px 宋体,tahoma,arial;
	font-family: 微软雅黑;
}
.container, .navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container {
width: 1200px;
}
div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, blockquote, p {
padding: 0;
margin: 0;
}

li {
    list-style-type: none;
}
h1, h2, h3, h4, h5, h6 {
    font-size: 12px;
    font-weight: normal;
}
.clearfix{display:block;}
.under_line{text-decoration:underline;}
.fl{float:left;}
.fr{float:right;}

.fb{font-weight:bold;}

.org{color:#f60;}
.gray{color:#999;}

a {text-decoration:none; color:#333;}
a:hover {text-decoration:none; color:#f60;}

.area{width:1200px; margin:0px auto; text-align:left;}
.price{font-family: Georgia,"Times New Roman",Times,serif;}

.num{font-family:Arial, Helvetica, sans-serif;}

.tc{text-align:center;}
.tr{text-align:right;}


.font_wr{ font-family:'Microsoft Yahei';}


.color_999{color:#999;}
.color_666{color:#666;}


.size_14{font-size:14px;}


.mt10{margin-top:10px;}
.mt20{margin-top:20px;}
.mb10{margin-bottom:10px;}
.mb20{margin-bottom:20px;}
.mb30{margin-bottom:30px;}
.mb50{margin-bottom:50px;}

.mt10{margin-top:10px;}
.mt15{margin-top:15px;}
.mb10{margin-bottom:10px;}
.mb30{margin-bottom:30px;}

.fs14{font-size:14px;}
.fs16{font-size:16px;}
.fs18{font-size:18px;}
.fs20{font-size:20px;}

.fb{font-weight:bold;}

.navbar .nav > li > a:focus, .navbar .nav > li > a:hover {
	color: #51a351;
}
.title_bor {
line-height: 30px;
}
img {
vertical-align: top;
border: 0;
}
.color_999 {
    color: #999999;
}
.footer {
	padding: 5px 0;
	}
