.first-row{
	position: relative;
	height: 288px;
}
.first-row .carousel-inner>.item>img {
   /**height: 100%;**/
}
.first-row .button_buy {
background: url(../images/button_buy.png) no-repeat top;
border: 0px;
width: 364px;
height: 72px;
cursor: pointer;
position: absolute;
top: 76px;
right: 130px;
}
.first-row .button_buy:hover {
	background: url(../images/button_buy.png) no-repeat bottom;
}